/* Overlay background */
.modal-overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  color: #fff;
}


.modal-content2 {
  /* background: #111; */
  background: #111;
  width: 90%;
  max-width: 700px;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}


.modal-close2 {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}


.source-box2 {
  background: #4b4646;
  padding: 10px;
  border-radius: 4px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: auto;
}

.data-box2 {
  margin-top: 15px;
  background: rgb(29, 29, 73);
  padding: 12px;
  border-radius: 4px;
  max-height: 50vh;
  overflow-y: auto;
  color: #fff;
}

.data-box2 pre {
  margin: 0;
  font-size: 14px;
  white-space: pre-wrap;
  word-break: break-word;
}

.data-box2 li:hover {
  background-color: transparent;
}

.link-box2 {
  margin-top: 10px;
  text-align: right;
}

.link-box2 a {
  display: inline-block;
  padding: 8px 14px;
  background: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.2s ease-in-out;
}

.link-box2 a:hover {
  background: #0056b3;
}